.page-id-1239 .ux_banner {
  height: 100vh !important; }

.homepage-icons .row.container {
  margin-bottom: 0px !important; }

@media only screen and (min-width: 767px) {
  .homepage-icons img {
    height: 130px;
    width: auto; } }
