/* Colors ---------------------------------------------- */
// Font Colors
$linkcolor: #a62425;
$titleFontColor: #a62425;

// Background colors: 

$bkgoundContent: #FFFFFF; // 
$menuBarbkg: #D14719; //
$accordMenuBkg: #A31500;
$accordMenuLvl2: #680D00;
$restb_red: #A31500;
/* Typography ------------------------------------------ */
